<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CONTACTS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<div class="search-div">
    <ion-searchbar 
    debounce="300"
    [(ngModel)]="searchInput"
    (ionInput)="filterUsers()"
    placeholder="Search...">
  </ion-searchbar>
</div>

<ion-grid>
  <ion-row class="ion-justify-content-left">
    <h3 *ngIf="!filteredUsers?.length">Sorry, users not found. Try again!</h3>
    <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="3" *ngFor="let user of filteredUsers">
      <ion-card>
        <ion-card-header>
          <ion-avatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ion-avatar>
        <h2>{{ user.name }}</h2>
        {{user.username}}
      </ion-card-header>
      <ion-card-content>
        <a href="{{'mailto:'+user.email}}">{{user.email}}</a>
        <br>
        <a href="{{'tel:'+user.phone}}">{{user.phone}}</a>
      </ion-card-content>
    </ion-card>
    </ion-col>

  </ion-row>
</ion-grid>

</ion-content>
