ion-toolbar{
  --background: #1e8be2;
  color: white
}
ion-content{
  --background: #DCDBDC;
  ion-card{
    border-radius: 10px;
  }
  ion-grid {
    --ion-grid-padding-sm: 20px;
    --ion-grid-padding-md: 30px;
    --ion-grid-padding-lg: 40px;
    --ion-grid-padding-xl: 80px;
  }
  .search-div{
    background: #a9a7a9;
    padding: 25px;
    ion-searchbar{
      --border-radius:10px;
    }
  }


}

/* #container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
} */